// Widescreen
@include mediaXl {

}

/*
 ** Desktops & Laptops
 */
@include mediaLg {
  .content {
    text-align: center;
    padding-top: 3rem;
  }

  #grid {
    .row {
      padding: 20px 30px 40px 30px;
    }
  }
}

/*
 ** Tablets & Small Laptops
 */
@include mediaMd {
  p {
    font-size: .9rem;
  }
  section {
    min-height: 600px!important;
    .row {
      padding: 40px 30px;
    }
  }
  /*
   ++++++ Menu ++++++
  */
  // Menu Icon
  .menu-btn {
    opacity: 1;
  }
  .menu {
    background: darken($primary-color, 6);
    top: 0;
    right: 0;
    height: 600px;
    transform: translate(-50%, -50%) translate3d(100%, -100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
    ul {
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      li {
        display: block;
        padding: 0;
        padding-bottom: 1.5rem;
        transform: translate3d(100%, -100%, 0);
        &:first-child {
          padding-right: 0;
          padding-bottom: 6rem;
        }
        // slide in from right
        &.show {
          transform: translate3d(0, 0, 0);
        }
        .nav-link {
          font-size: 1.8rem;
        }
      }
    }
  }
  /*
   ++++++ Scrollbar ++++++
  */
  .scrollbar  {
    top: 442px!important;
    right: -5px!important;
    &::before {
      width: 80px!important;
      left: 84px;
    }
  }

  .content {
    text-align: center;
    padding: 2rem;
  }

  #hero {
    height: 600px!important;
    .icons {
      bottom: 15px!important;
    }
  }

  .portrait {
    img {
      width: 100%!important;
      height: 100%;
    }
  }

  #grid {
    .row {
      padding-top: 20px;
    }
    .thumb {
      width: calc(100% / 2 - 20px)!important;
    }
  }

}

/*
** Smarthphone
*/
@include mediaSm {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: .7rem;
  }
  p {
    font-size: .8rem;
  }

  .container {
    .headings {
      top: 50%!important;
    }
    // .highlight {
    //   font-size: 3rem;
    // }
    .content {
      width: 100%;
    }
    .icons {
      a {
        font-size: .9rem!important;
      }

    }
  }

  .bio {
    .large-6 {
      height: auto;
      .content {
        padding: 0;
        padding-top: 2rem;
      }
    }
  }

  .portrait {
    &:after {
      display: none;
    }
    img {
      padding-bottom: 0;
    }
  }

  #grid {
    .thumb {
      float: none!important;
      width: 100%!important;
      margin: 20px 0 0 0!important;
      .thumb-info {
        background: rgba($grey, 0.7)!important;
        opacity: 1!important;
      }
    }
  }

  .blue {
    h2 {
      &:after {
        bottom: 24px!important;
      }
    }
  }

  .white {
    min-height: 600px!important;
    h2 {
      position: relative;
      padding-bottom: 1.5rem!important;
      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: -20px;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   width: 180px;
      //   height: 2px;
      //   background: $secondary-color;
      // }
    }
    .icons {
      bottom: 80px!important;
      left: 6%;
      a {
        display: inline-block!important;
        padding: 90px 10px 7px 10px;
      }
    }
  }

  .wrapper {
    width: 100%!important;
    .button {
      width: 100%;
    }
  }

}


/*
** Delay each nav item slide by .1s
*/
  @for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.2s;
    }
  }
