/*
 ** MENU
 */

// Menu Icon
.menu-btn {
  opacity: 0;
  position: absolute;
  z-index: 99;
  right: 35px;
  top: 30px;
  cursor: pointer;
  @include easeInOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin:  0 0 5px 0;
    background: $white;
    @include easeInOut;
  }

  // rotate Into X with Menu Lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        margin:  0 0 -2px 0;
        transform: rotate(45deg) translate(2px, 1px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        margin:  0 0 0 0;
        transform: rotate(-45deg) translate(6px, -4px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1280px;
  width: 100%;
  background: $white;
  @include easeInOut;
  ul {
    position: absolute;
    top: 0;
    left: 0;
    li {
      padding: 35px;
      &:first-child {
        padding-right: 5rem;
      }
      & > a {
        text-transform: uppercase;
        letter-spacing: 4px;
        &:after {
          bottom: -12px;
        }
      }
    }
  }
}
