.nl {
  .grid {
    .thumb {
      .thumb-image {
        height: 500px;
        background-position: top;
        .thumb-info {
          .info-wrapper {
            bottom: -390px;
          }
        }
      }
      &:hover {
        .discover {
          bottom: 50px!important;
          padding: 6px 20px!important;
        }
      }
    }
  }
}
