.nl {
  .grid {
    .thumb {
      // width: calc(100% / 2 - 20px)!important;
      .thumb-image {
        height: 600px;
        background-position: top;
        .thumb-info {
          background: rgba($primary-color, 0.8);
          .info-wrapper {
            // width: 80%!important;
            h3 {
              font-size: 1.8rem;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
      &:hover {
        .thumb-info {
          opacity: 0;
        }
        .more {
          bottom: 30px!important;
          opacity: 1!important;
        }
      }
      .more {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%);
        transition: all 0.3s ease-in-out 0.2s;
        opacity: 0;
        background: $secondary-color;
        color: $white;
        padding: .5rem 2rem;
        border-radius: 30px;
        @include easeInOut;
        &:hover {
          background: darken($secondary-color, 6);
        }
      }
    }
  }
}
