table {
  // border: 1px solid $secondary-color;
  width: 100%;
  tr {
    width: 100%;
    .left-cell {
      padding-left: 0!important;
      width: 30%;
    }
    .right-cell {
      width: 70%;
    }
    .left-cell, .right-cell {
      padding: 1rem;
      ul {
        li {
          text-align: left;
        }
      }
    }
    .highlight {
      text-align: right;
    }
  }
}
.references {
  border: none;
  .left-cell {
    width: 50%;
  }
  .right-cell {
    width: 50%;
  }
}
